html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

#container {
  display: flex;
}

#title {
  text-align: center;
  background-color: #aabbcc;
}

nav {
  display: flex;
}

#search {
  justify-content: center;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

#asides {
  display: flex;
  justify-content: space-around;
}

#asides li {
  list-style: none;
  font-size: 20px;
}

#asides h2 {
  text-align: center;
  font-size: 25px;
}

.main-content {
  margin: 50px;
  text-align: justify;
}

.main-content p {
  font-size: 20px;
}

h1 {
  text-align: center;
}

#footer {
  text-align: center;
}

#footer h3 {
  font-size: 25px;
}

#section-footer {
  background-color: #bbccdd;
}

@media screen and (max-width: 767px) {
  #title {
    font-size: 21px;
  }

  #search {
    font-size: 15px;
  }
  
  #asides h2 {
    font-size: 18px;
  }

  h1 {
    font-size: 20px;
  }

  #asides {
    flex-direction: column;
    align-items: center;
  }

  .main-content p {
    font-size: 16px;
  }

  #asides li {
    font-size: 16px;
  } 

  #footer h3 {
    font-size: 15px;
  }

  #section-footer {
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    #title {
      font-size: 35px;
    }
  
    #search {
      font-size: 25px;
    }
    
    #asides h2 {
      font-size: 30px;
    }
  
    h1 {
      font-size: 30px;
    }
  
    footer h3 {
      font-size: 22px;
    }

    .main-content p {
      font-size: 25px;
    }
    
    #asides li {
      font-size: 25px;
    }
  
    #section-footer {
      font-size: 18px;
    }
}

@media screen and (max-width: 1680px) and (min-width: 1024px) {
    #title {
      font-size: 2rem;
    }
  
    #search {
      font-size: 15px;
    }
    
    h2 {
      font-size: 20px;
    }
  
    h1 {
      font-size: 25px;
    }
  
    footer h3 {
      font-size: 17px;
    }
  
    #section-footer {
      font-size: 13px;
    }

}
